@model IEnumerable<Contacts.AppService.Models.NaturalPersonModel>
@{
    ViewBag.Title = "Natural Person List";
}

<div class="mt-5">
    <h2>@ViewBag.Title</h2>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">CPF</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.CPF</td>
                    <td><button type="button" onclick="Edit(@item.Id)" class="btn btn-sm btn-primary">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    @Scripts.Render("~/bundles/NaturalPerson")
}