@model IEnumerable<Contacts.AppService.Models.LegalPersonModel>
@{
    ViewBag.Title = "Legal Person List";
}

<div class="mt-5">
    <h2>@ViewBag.Title</h2>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Company Name</th>
                <th scope="col">Trade Name</th>
                <th scope="col">CNPJ</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.CompanyName</td>
                <td>@item.TradeName</td>
                <td>@item.CNPJ</td>
                <td><button type="button" onclick="Edit(@item.Id)" class="btn btn-sm btn-primary">Edit</button></td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    @Scripts.Render("~/bundles/LegalPerson")
}